<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"> 
  {% include "style.html" %}
</head>
<body>
    {% include "navigation.html" %}
	<article align="center"> Оставьте контакты,<br>и наши менеджеры с вами свяжутся </article>
	<br>
	<br>
	<form action="http://g06u33.nn2000.info/cgi-bin/form_action.py" method='get' target='_self'>
		<fieldset class="form">
			<p>Имя: <input type="Text" name="first_name" value="Иван" size=8></p>
			<p>Фамилия: <input type="Text" name="last_name" value="Петров" size=8></p>
			<p>Номер телефона: <input type="Number" name="phone" value="89296732828" size=8></p>
			<p>Email: <input type="Email" name="email" value="test@example.com" size=8></p>
			<p>Дата: <input type="Date" name="date" value="13.10.2021" size=8></p>
			<p> <input type="Reset" name="Reset" value="Обновить" >
            <input type="Submit" name="submit" value="Отправить" class="Button">
            </p>
	    </fieldset>
	</form>
	<br>
	<article align="center"> Уже знаете, что хотите?</article>
	<article align="center"><a href="{% url 'order' %}" class="contact">Кидайте заявку на праздник!</a></article>
</body>
</html>