<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"> 
  {% include "style.html" %}
</head>
<body>
    {% include "navigation.html" %}
	<article align="center"> Фотогалерея </article>
	<br>
	<br>
	<article align="center"> День рождения </article>
	<article align="center"> <a href="https://sun9-38.userapi.com/impg/tD6y9XZLQGZ0tjsCoeNkhLZ0NtJhTcFKPknrpw/JL8v9rh6XjU.jpg?size=2560x1707&quality=95&sign=18c317f06307b04b5d89dbba2368e572&type=album"><img src="../static/img/dr.jpg" height=100px title="День рождения" ></a> </article>
	<br>
	<article align="center"> Корпоратив </article>
	<article align="center"> <img src="../static/img/ni.jpg" height=100px title="Корпоратив"></article>
	<br>
	<article align="center"> Квест </article>
	<article align="center"> <img src="../static/img/kvest.jpg" height=100px title="Квест"></article>
</body>
</html>