<aside>
		{% load static %}
	    <h1>Навигация <a href="{% url 'main' %}"><img src="{% static 'img/logo.png' %}" height=50px width=50px></a> </h1>
		<ul>
			<a href="{% url 'main' %}", class={{main}}><li>Главная</li></a>
			<a href="{% url 'order' %}", class={{order}}> <li>Заказать праздник</li></a>
			<a href="{% url 'scheme' %}", class={{scheme}}><li>Схема проезда</li></a>
			<a href="{% url 'contacts' %}", class={{contacts}}><li>Оставить контактные данные</li></a>
			<a href="{% url 'gallery' %}", class={{gallery}}><li>Галерея</li></a>
			<br>
			<p class="vk"><a href="https://vk.com/natasha.kuzina" target="_blank"><img src="{% static 'img/vk.png' %}" height=70px width=70px></a></p>
		</ul>
</aside>