<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  {% include "style.html" %}
</head>
<body>
    {% include "navigation.html" %}
	<article align="center"> Схема проезда </article>
	<br>
	<br>
	<article align="center"> Чтобы добраться до нашего офиса,<br>нужно сделать всего пару простых движений: </article>
	<article>
		<ul>
		  <li>
		  Приехать на станцию метро перово
		  </li>
		  <li>
		  Дойти до адреса: Зелёный проспект, 39к1
		  </li>
		</ul>
	</article>
	<br>
	<br>
	<article align="center"> Также убедитесь, что не забыли взять<br>эти документы:</article>
	<article>
	  <ol>
	    <li>
		Паспорт
		</li>
		<li>
		Лист с пожеланиями (тех задание)<ul>
		<li>Примерный бюджет</li>
		<li>Задумка</li>
		</ul>
		</li>
	  </ol>
	</article>
</body>
</html>