<style>
	  aside {
	  background-color: #6263f0;
	  width: 20%;
	  height: 70vh;
	  margin-left: -10px;
	  margin-top: -26px;
	  float: left;
	}
	  aside ul li {
	  font-size: x-large;
	  color: #000000;
	  }
	  h1 {
	  font-size: xx-large;
	  color: #000000;
	  }
	  a.active li {
	  width: 200px;
	  background-color: #f062f0;
	  color: #FFFFFF
	  }
	  .vk {
	  margin-left: 40px
	  }
      .form {
        color: white;
      }
      .contact {
        color: black;
      }
	  a {
        color: transparent
      }
	  body {
	  background: url("../static/img/background.gif") no-repeat;
	  background-size: 100%
	  }
	  article {
	  font-size: x-large;
	  display: block;
	  width: 500px;
	  background-color: #fbd8fb;
	  margin-left: 500px;
	  }
  </style>