<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>1006. Известна денежная сумма. Разменять её купюрами 500, 100, 10 и монетой 2 руб., если это возможно.</h3>
<br>
<form method ="post"
                action=
                  "{% url 'exchange' %}">

                {% csrf_token %}

                {% for field in form %}
                  <div class="form-group row my-3">
                    {{ field }}
                  </div>
                {% endfor %}
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-primary">
                    Разменять!
                  </button>
                </div>
</form>
</body>
</html>